#hidebg { position:absolute;left:0px;top:0px;
		background-color:black;
		width:100%;
		height:100%;
		opacity:0.5;
		display:none; 
		z-Index:2;
	}
   #hidebox { position:absolute;
		width:420px;
		height:420px;
		top:0;
		bottom:0;
		left:0;
		right:0;
		margin:auto;
		display:none;
		cursor:pointer;
		z-Index:3;
	}
   #content { text-align:center;
		cursor:pointer;
		z-Index:1;
	}
   #close {
		float: right;
		margin-right: 50px;
		display: block;
		width: 32px;
		height: 32px;
		background: url(../image/close.png) no-repeat 0px 0px;
	}